* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  max-width: 479px;
  padding: 15px 0;
  margin: 0 auto;
}
.header {
  border-bottom: 7px solid rgba(61, 59, 59, 0.342);
}
.header__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 45px;
}

.header__nav--list {
  display: flex;
}

.header__nav--item {
  cursor: pointer;
}
.header__nav--ritem {
  margin-left: 55px;
}
.header__nav--item:hover > a {
  color: #255784;
}
.header__nav--link {
  padding-right: 20px;
  color: rgba(221, 129, 0, 0.94);
  font-size: 23px;
  font-weight: 500;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
}
.header__nav--link-active {
  color: #255784;
}
.main__name {
  text-align: center;
  margin-top: 15px;
  font-size: 30px;
  color: rgba(0, 0, 0, 0.6);
  text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
    0px -5px 35px rgba(255, 255, 255, 0.3);
}
.main__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}
.main__menu {
  text-align: left;
}
.menu__items {
  font-size: 20px;
  padding: 15px 125px 0 0;
  color: rgba(0, 0, 0, 0.6);
  text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
    0px -5px 35px rgba(255, 255, 255, 0.3);
}
